.BackBtn {
  background-color: white;
  width: 170px;
  margin-left: 20px;
}

.BackBtn:hover {
  background-color: #DFE3E8;
}

.BackBtn .flechita-atras {
  position: absolute;
  top: 0px;
  left: 0px;
}

.BackBtn .texto {
  position: absolute;
  top: 0px;
  left: 20px;
}
