.NavBtn {
  border: 1px solid gray;
  width: 180px;
  float: left;
  margin: 4px 20px;
}

.NavBtn div {
  display: inline;
}

.NavBtn strong {
  font-size: 1.17em;
}

.NavBtn span {
  font-size: 0.9em;
}
