.NavBtn {
  width: 180px;
  height: 45px;
  float: left;
  margin: 4px 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  position: relative;
}

.NavBtn strong {
  font-size: 1.17em;
}

.NavBtn span {
  font-size: 0.9em;
}

.NavBtn .texto {
  width: 150px;
  height: 45px;
}
