.Dropdown {
  height: 70px;
  border: 1px solid gray;
  position: relative;
}

.Dropdown .flechita{
  background-color: blue;
  color: white;
  width: 70px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}
